
#menu_text{
	             background-color :#32a894; 
    	             text-align:center ;
    	             padding: 80px  20px ;
    	             margin: 0px;
               }
      nav { 
		background-color :#333; 
		text-align: center ;	
	    display : flex;
           }
           nav a { color : white ;
		  display : flex;
		  padding : 10px;

       }
       #left_side{ flex: 25% ;

       	background-color: #f1f1f1 ;
       	/*margin: 10px 20px*/
       	padding: 10px 20px;
       }
       	#right_side{ flex: 65% ;
       	background-color: white ;
       	margin: 10px 20px
       	padding: 10px 20px;
        padding:  20px 20px ;
        margin: 0px;
        display: block ;
        text-align: center ;
        text-decoration: none;
        float: left ;
           }
          nav a.menu_left{ float:left ;}
          nav a.menu_right{float:left ;}     
        nav a:hover {
        background-color:#ddd;
       color:black ;}
       	#flex_container{ 
       	 display : flex ; 
       	 flex-wrap: nowrap;
       }

       footer { background-color:#333;
       	text-align: center;
       	padding: 10px;
       	margin: 20px;
        color:white;
        }
        footer a{ color: white }
   /*styling the table */       
        table { 
  border-collapse: collapse;
  width: 100%;
}
table td, table th {
  border: 10px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
.course_item {
   	 width: : 20%; 
   	 float: left;
    text-align: center ;
   	flex:  33%;
}
.course_img {
	width:  90% ;
}
#course_container: {
	display: flex;
 flex-wrap: wrap;
}
.course_title {
	 font-size: 150% ; 
	 font-weight: bold ;
	 padding:  10px 10px 5px 10px;  
}
.course_desc {
	margin:  0px  10px 20px  10px; 
} 
#title {
	 font-size:  150% ;
	 font-weight: bold ;
}	 
@media(min-width: 768px){
#right_side{ flex: 100% ;}
#left_side{ flex: 100% ;}
}
#flex_container{      	  
       	 flex-wrap :wrap;}       	 
.course_item {   
    flex : 50%; }   
footer > div {
	    font-size : 15px;
    }
	
